langchain
langchain_chroma
chromadb==0.5.15
langchain_openai
langchain-openai
click
fastapi[standard]
pyjwt
passlib
bcrypt==4.0.1
sqlmodel
PyMySQL
google-cloud-vision
pillow
protobuf==3.20.0
cryptography